# .NET build outputs
bin/
obj/
artifacts/*.nupkg
artifacts/*.snupkg

# NuGet
*.nupkg
*.snupkg
nuget.config

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio
.vs/
.vscode/
*.rsuser

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.coverage
*.coveragexml

# Rider
.idea/
*.sln.iml

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
nuget.config
