---
name: Codespell

on:
  push:
    branches: [ master, main, develop ]
  pull_request:
    branches: [ master, main, develop ]

permissions:
  contents: read

jobs:
  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Codespell
        run: python -m pip install --upgrade 'codespell[toml]'

      - name: Run Codespell
        run: |
          codespell \
            --skip="*.lock,*.json,*.map,*.yaml,*.rtf,*.toml,target,node_modules,.git,sample,gui,client-sdks,qdrant,dashboard,scripts,docs,sdks,rulebook" \
            --ignore-words-list="crate,ser,deser,erro,erros,vetor,nome,atual,limite,excede,fase,inicial,comando,momento,profissional,aspectos,componentes,comandos,anull"

